section.tracks {
    width: 100%;
    border-top: solid 2px #EDEDED;
    background-color: #fafafa;

    .search-results {
        width: 1000px;
        margin: 0 auto;

        .track {
            width: 200px;
            float:  left;
            min-height: 400px;

            img {
                width: 80%;
                margin: : 0 auto;
                display: block;
                max-width: 100%;
            }
        }
    }
}